/* styles.css */

html {
    background: linear-gradient(to right, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    font-family: 'Alegreya Sans SC'; 
}

body {
    text-align: center;
}
.header-tab{
    font-weight: bolder;
    width: 600px;
    height: auto;
    border: medium solid black;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 100px;
    text-shadow: 4px 4px darkgreen;
    background: linear-gradient(to right, rgb(125, 199, 144) 0.00%, rgb(11, 59, 23) 100.00%);
}